* {
    font-family: var(--text-body)
}

:root {
    --black: black;
    --white: white;
    --state-gray: #757575;
    /* rgba(117, 117, 117) */
    --gray: rgb(244, 244, 244);
    --blue: rgb(48, 110, 180);
    --dark-brown: #51372e;
    --light-brown: #d4c7bd;
    --strongly-pro: #F2a900;
    /* rgba(242, 169, 0) */
    --slightly-pro: #D0871B;
    /* rgba(208, 135, 27)*/
    --neutral: #9D5444;
    /* rgba(157, 84, 68) */
    --slightly-anti: #6A216C;
    /* rgba(106, 33, 108 */
    --strongly-anti: #480088;
    /* rgba(72, 0, 136) */
    --dems: #00AEF3;
    --reps: #E81B23;
    --text-body: Georgia,
        'Times New Roman',
        Times,
        serif;
    --text-header: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif
}

html {
    font-size: 62.5%;

}

body {
    max-width: 100vw;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
nav p,
.nav-bar a,
.label-dems span,
.label-reps span,
.text-legend {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    font-size: 2.7rem;
    margin: 0 auto 2% auto;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.9rem
}

p {
    font-size: 1.6rem;
    margin: 0 auto 1.5% auto;
    line-height: 2.2rem
}

.fancy {
    --b: 0.3rem;
    /* control the border thickness */
    --w: 200rem;
    /* control the width of the line*/
    --g: 2rem;
    /* control the gap */
    --c: var(--light-brown);

    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid;
    color: var(--dark-brown);
    background:
        conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
        conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image:
        linear-gradient(#0000 calc(50% - var(--b)/2),
            var(--c) 0 calc(50% + var(--b)/2),
            #0000 0) 1/0 var(--w)/calc(var(--w) + var(--g));
    margin-inline: auto;
}

