* {
    /border: 1px solid black
}

header {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--gray);
    border-bottom: 0.1rem solid var(--dark-brown);
}

#header-content {
    width: 100vw;
    max-width: 140rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo-title {
    display: flex;
}


#header-title {
    margin: 1% 0% 0% 1%;
    text-align: left;
    width: 40rem;

}

#header-title h1,
#header-title span {
    font-family: var(--text-logo-name) !important;
}


#CPlogo-header {
    margin: auto 2% auto 3%;
}

#CP-img-header {
    height: 5.5rem;
}

#header-content h1 {
    color: var(--dark-brown);
    font-size: 3.4rem !important;

}

#header-content h1 span {
    color: #b1a296;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif
}

#header-content p:not(nav p) {
    font-size: 1.3rem;
    color: var(--dark-brown);
    margin-top: -3.5%;
    margin-left: 2%;
}


nav:not(.ham-navbar) {
    margin: 0 2% 0 0;
    width: 40%;
    display: flex;
    align-items: center;
    color: var(--dark-brown);
    justify-content: right;
    gap: 2vw
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-bar:hover {
    border-radius: 0.3rem;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
    padding: 0.2rem 1rem 0.2rem 1rem;
    transition: background-color 0.6s ease;
}

.nav-bar a:hover {
    background-color: var(--light-brown);
    border-radius: 0.3rem;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
    align-items: center;

}

.nav-dropdown-content {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 14rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 1.2rem;
    transform: translateY(-1.5rem);
    transition: opacity 0.5s ease, visibility 0.1s ease, transform 0.2s ease-in;

}

.nav-dropdown-content a {
    color: var(--dark-brown);
    padding: 0.7rem 1rem;
    text-decoration: none;
    display: block;
    opacity: 0;
    transform: translateY(-1.5rem);
    transition: opacity 0.3s, transform 0.3s;
    will-change: opacity, transform;
}

.nav-dropdown-content a:nth-child(1) {
    transition-delay: 0.12s;
}

.nav-dropdown-content a:nth-child(2) {
    transition-delay: 0.24s;
}

.nav-dropdown-content a:nth-child(3) {
    transition-delay: 0.36s;
}

.nav-dropdown:hover .nav-dropdown-content a {
    opacity: 1;
    transform: translateY(0);
}

.nav-dropdown-content a:hover {
    background-color: var(--light-brown);
}

.nav-dropdown:hover .nav-dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;
}

.no-cursor {
    cursor: default;
}