* {
    /border: 1px solid black
}

header {
    border-bottom: 0.1rem solid var(--dark-brown);
    margin: 0 auto 0% auto;
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: var(--gray);
    width: 100vw;
}

#header-content {
    display: flex;
    /*max-width: 130rem;*/
    width: 100%;
    flex-wrap: wrap;
}



#header-title {
    margin: 0.3% 0% 0% 1%;
    text-align: left;
}

#CPlogo-header {

    margin: 0.5% 0.2% 0% 2%;
}

#CP-img-header {
    height: 6rem;
}

h1 {
    color: var(--dark-brown);
    font-size: 3.4rem !important;
    
}

h1 span {
    color: #b1a296;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif
}

#header-content p:not(nav p) {
    font-style: italic;

    font-size: 1.3rem;
    color: var(--dark-brown);
    margin-top: -2%
}

nav {
    margin: 0 0 0 45%;
   
    display: flex;
    align-items: center;
    gap: 1%;
    color: var(--dark-brown);
    justify-content: center;

}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-bar:hover {
    border-radius: 0.3rem;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
    padding: 0.2rem 1rem 0.2rem 1rem;
    transition: background-color 0.6s ease;
}

.nav-bar a:hover {
    background-color: var(--light-brown);
    border-radius: 0.3rem;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 2%;
    align-items: center;
}

.nav-dropdown-content {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 14rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 1.2rem;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, visibility 0.1s ease, transform 0.2s ease-in;
}

.nav-dropdown-content a {
    color: var(--dark-brown);
    padding: 0.7rem 1rem;
    text-decoration: none;
    display: block;
    font-family: var(--text-header);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
    will-change: opacity, transform;
}

.nav-dropdown-content a:nth-child(1) {
    transition-delay: 0.1s;
}

.nav-dropdown-content a:nth-child(2) {
    transition-delay: 0.2s;
}

.nav-dropdown-content a:nth-child(3) {
    transition-delay: 0.3s;
}

.nav-dropdown:hover .nav-dropdown-content a {
    opacity: 1;
    transform: translateY(0);
}

.nav-dropdown-content a:hover {
    background-color: var(--light-brown);
}

.nav-dropdown:hover .nav-dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;
}

.no-cursor {
    cursor: default;
}