/* HAMBURGER */

.hamburger-icon {
    display: none;
    z-index: 9999;
    cursor: pointer;
    position: relative;
    right: 50px;

}

.hamburger-icon .bar1,
.hamburger-icon .bar2,
.hamburger-icon .bar3 {
    width: 3.5rem;
    height: 0.6rem;
    background-color: var(--dark-brown);
    margin: 1rem 0rem 0 0;
    transition: 0.3s;
    position: fixed;

}


.bar1 {
    top: 0rem;
}

.bar2 {
    top: 1rem;
}

.bar3 {
    top: 2rem;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
    transform: rotate(-45deg) translate(-1rem, 1rem);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-1.5rem, -1.5rem);
    transform: rotate(45deg) translate(-0.4rem, -0.4rem);
}

.ham-navbar {
    display: none;
    /* none */
}



@media (max-width: 768px) {

    header,
    #header-content {
        width: 100vw;
        height: 7vh;
        max-width: 100vw !important;
        max-height: 8vh !important;
        display: flex;
        align-items: center;
    }

    .logo-title {
        width: 80%;
    }

    #header-title {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        left: 0;
    }

    #CP-img-header {
        height: 50%;
        width: auto;
        max-height: 4.55vh;
        margin-left: 0rem;
 
    }

    #header-content h1 {
        font-size: 2.5rem !important;
        margin-left: 0rem;
        text-shadow: none !important;
    }

    #header-content p:not(nav p) {
        display: none;
    }

    nav:not(.ham-navbar) {
        display: none;

    }

    /* HAMBURGER for smaller devices*/
    .hamburger-icon {
        margin-top: 1.5vh;
        margin-right: 2vw;
        cursor: pointer;
        display: block;
    }

    #ham-navbar {
        display: none;
        /* none */
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        border: 2px solid var(--dark-brown);
        border-radius: 5px;
        background-color: var(--light-brown);
        z-index: 1000;
    }

    #ham-navbar.show {
        display: block;
    }

    #ham-navbar ul li {
        display: none;
    }

    #ham-navbar.show ul li {
        display: block;
    }

    #ham-menu-contain {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        height: inherit;
        width: 100%;
        position: relative;
        right: 0;
        top: 15%;
    }

    .ham-menu-line {
        background-color: white;
        border-color: white;
        width: 95vw;


    }

    #ham-menu-contain ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }

    #ham-menu-contain ul li {
        padding-right: 2vw;
        padding-left: 2vw;
        padding-bottom: 3vw;
        margin: 1vh;
        font-size: 4vh;
        word-wrap: none;
        list-style-type: none;
        display: none;
        /* none */


    }

    .show {
        display: block !important;
    }

    .ham-navbar.show ul li {
        display: block;
    }

    #ham-menu-contain ul li a {
        text-decoration: none;
        color: var(--dark-brown);

    }

    .ham-menu-dropbtn {
        margin-left: 4%;
        margin-bottom: 4%;
    }

    .ham-menu-dropdown {
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 3vh;
        margin-top: 6%;

    }


    .fa-caret-up {
        display: none;
    }

    .ham-menu-dropdown.show .fa-caret-up {
        display: inline-block;
    }

    .ham-menu-dropdown.show .fa-caret-down {
        display: none;
    }

    .ham-menu-dropdown-link {
        font-size: 3vh;


    }

    .ham-menu-dropdown-link:not(:last-child)::after {}


}