@media (max-width: 768px) {

    * {
        /border: 1px solid black
    }

    :root {
        background: linear-gradient(90deg,
                var(--dark-brown) 1%,
                var(--light-brown) 4%,
                var(--light-brown) 12%,
                var(--light-brown) 96%,
                var(--dark-brown) 99%);
        overflow: hidden;
    }

    body {
        margin: 0;

    }

    #index1 {
        display: flex;
        flex-direction: column;
        margin: 1rem auto 4rem auto;
        width: 80%
    }

    #cp-img-cont {
        display: flex;
        align-items: center;
    }


    #CP-img-header-land {
        display: flex;
        height: 10rem;
        padding: 2rem 0 0 0;
    }

    #header-title h1,
    #header-title span {
        text-align: center;
        font-family: var(--text-logo-name);
        font-size: 5rem;
        padding-top: 2rem;
    }

    #index2 {
        margin: auto;
        text-align: center;
        width: 95%
    }

    h2 {
        font-size: 1.9rem;
        line-height: 2.2rem;

    }

    #index3 {
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin: 4rem auto 4rem auto;
        max-width: 20rem;
        padding: 2rem;
        background: linear-gradient(183deg,
                var(--dems) 2%,
                var(--light-brown) 10%,
                var(--light-brown) 12%,
                var(--light-brown) 90%,
                var(--reps) 98%);
    }

    .seal {
        height: 7rem;
    }

    #index4 p {
        max-width: 30rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: center;
    }

    /* BUTTON */
    #index4 {
        display: flex;
        flex-direction: column;
    }

    #button-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1rem
    }

    #button {
        color: var(--white);
        height: 5rem;
        width: 22rem;
        font-size: 2.3rem;
        font-weight: 500;
        border-radius: 1rem;
        cursor: pointer;
        background: var(--dark-brown);
        border: 0.5rem solid var(--dark-brown);
        transition: all 0.3s ease;
    }

    #button:hover {
        font-size: 2.5rem;
        background: var(--white);
        border: 0.2rem solid var(--dark-brown);
        color: var(--dark-brown);
    }

    #button span {
        font-size: 2.3rem;
        padding-left: 1rem
    }


    /* STATE DROPDOWN*/
    .select-wrapper {
        margin: 4rem 0rem 2rem 0;
        font-family: var(--text-header) !important;
    }

    #dropdown-placeholder {
        color: var(--dark-brown) !important;
        font-family: var(--text-header) !important;
    }

    .select2-dropdown {
        width: 25rem;
        font-family: var(--text-header) !important;

    }

    .select2-container--default .select2-selection--single {
        border: 0.1rem solid var(--GRAY) !important;
        -webkit-box-shadow: 10px 10px 25px 0px #000000;
        box-shadow: 3px 5px 5px 0px #000000;
        width: 25rem;
        font-size: 1.4rem;
        color: var(--dark-brown) !important;
        text-align: center !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: var(--dark-brown) !important;
    }

    .select2-results__options {
        font-size: 1.4rem;
        max-height: 2rem;
        overflow-y: auto;
        color: var(--dark-brown);
        font-family: var(--text-header) !important;
        text-align: center;
    }

    .select2-results__option--highlighted {
        background-color: var(--light-brown) !important;
        color: var(--dark-brown) !important;
    }

}