@media (max-width: 768px) {

    * {
        /border: 1px solid black
    }

    #leg-top {
        padding-top: 0rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    #leg-table-filters-cont {
        display: flex;
        border: none;
        background: white;
        z-index: 11;
        height: 5vw !important;

    }

    #legislation-search-field {
        border: 0.1rem solid var(--light-brown) !important;
        -webkit-box-shadow: 3px 3px 3px 0px #000000;
        box-shadow: 3px 3px 3px 0px #000000;
        width: 21rem;
        height: 3.2rem;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 2rem;
        color: var(--dark-brown);
        padding-left: 3rem;
    }

    .mag-glass {
        position: absolute;
        transform: translate(-500%, 60%);
        font-size: 1.6rem;
        font-weight: bold;
        padding-left: 0.6rem;
    }

    #legislation-table-cont {
        width: 100%;
        max-width: 120rem;
        margin: 4rem 0 10rem 0;
        height: 100%;
        overflow: scroll;
        border: 2px solid var(--light-brown);
        box-shadow: 0 0.2rem 1rem 0rem rgba(0, 0, 0, 0.2);
    }

    #legislation-table {
        width: 100%;
        max-width: 100rem;
        /* keep same value as #legislation-table-cont width */
        table-layout: fixed;
        /* sets a fixed layout to prevent resizing beyond given width */
        overflow: scroll;
        border-collapse: collapse;
    }

    #legislation-table thead {
        position: sticky;
        top: 0%;
        border-bottom: 1px solid var(--dark-brown);
        background-color: white;
        z-index: 10;
    }

    #legislation-table td,
    #legislation-table th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


    #legislation-table th {
        font-size: 3vw;
        background-color: rgba(212, 199, 189, 0.8);
        height: 3.5vh;

    }

    #legislation-table tr:hover:not(.expansion) {
        background-color: rgba(212, 199, 189, 0.8);
        cursor: pointer;
    }

    #legislation-table tr.clicked td {
        background-color: rgba(212, 199, 189, 0.8);
        font-size: bold;
    }

    #legislation-table td {
        font-size: 1.4rem;
        height: 4.2vh !important;
        border-bottom: 1px solid var(--light-brown);
    }

    #leg-details {
        text-align: center;
        border-right: none !important;
        width: 5%
    }

    #leg-bill-number {
        border-left: none !important;
        text-align: left;
        width: 15%
    }

    #leg-title {
        width: 55%;
        padding-left: 0.5rem;
        text-align: left;
    }

    #leg-branch {
        display: none;
        width: 12%;
        text-align: center;
    }

    #leg-sponsor-party-color {
        display: none;
        width: 0.7%;
        border-right: none !important;
    }


    #leg-sponsor {
        display: none;
        width: 15%;
        text-align: left;
    }

    #leg-cosponsors {
        display: none;
        width: 8%;
        text-align: center;
    }

    #leg-introduced,
    #leg-introduced-search {
        display: none;
        width: 8%;
        text-align: center;
    }

    #leg-sentiment {
        text-align: center;
        width: 25%
    }

    .leg-details-arrow {
        padding-left: 1rem;
    }

    .fa-caret-right {
        font-size: 3.5vw;
        transition: transform 0.3s ease-in-out;
    }

    .rotate-caret {
        transform: rotate(90deg);
        transition: transform 0.3s ease-in-out;
    }

    .leg-number,
    .leg-title {
        font-size: 2.8vw !important;
    }


    .leg-branch {
        display: none;
        text-align: center;
    }


    .leg-sponsor-party-color {
        display: none;
        border-radius: 1rem;
    }

    .leg-sponsor-party-color-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60%;
        width: 85%;
        border-radius: 1rem;
        color: transparent;
    }

    [data-sponsor-party='Democrat'] .leg-sponsor-party-color-inner {
        background-color: var(--dems);
    }

    [data-sponsor-party='Republican'] .leg-sponsor-party-color-inner {
        background-color: var(--reps);
    }

    [data-sponsor-party='Independent'] .leg-sponsor-party-color-inner {
        background: var(--inds);
    }

    [data-sponsor-party='Green'] .leg-sponsor-party-color-inner {
        background-color: var(--grns);
    }


    .leg-sponsor {
        display: none;
        padding-left: 0.5%;
    }

    #leg-cosponsors {
        font-size: 1.4rem !important;
    }

    .leg-cosponsors {
        display: none;
        text-align: center;
    }

    .leg-introduced {
        display: none;
        text-align: center;
    }

    .leg-sentiment {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.5%;
    }

    .leg-sentiment-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 75%;
        width: 85%;
        font-size: 2.8vw;
        border-radius: 1rem;
        color: white;
        box-shadow: 0 0.2rem 1rem 0rem rgba(0, 0, 0, 0.2);
        border: 0.1rem solid var(--light-brown)
    }

    [data-leg-sentiment='Strongly Pro'] .leg-sentiment-inner {
        background-color: var(--strongly-pro);
    }

    [data-leg-sentiment='Slightly Pro'] .leg-sentiment-inner {
        background-color: var(--slightly-pro);
    }

    [data-leg-sentiment='Neutral'] .leg-sentiment-inner {
        background-color: var(--neutral);
    }

    [data-leg-sentiment='Slightly Anti'] .leg-sentiment-inner {
        background-color: var(--slightly-anti);
    }

    [data-leg-sentiment='Strongly Anti'] .leg-sentiment-inner {
        background-color: var(--strongly-anti);
    }

    [data-leg-sentiment='Not enough data'] .leg-sentiment-inner {
        background-color: var(--not-enough-data);
    }


    .leg-details-cont {
        display: flex;
        flex-direction: column;
        gap: 0;

        min-height: 35vh;
        background-color: rgba(212, 199, 189, 0.7);
        /* rgba(212, 199, 189, 0.8) */
        border-top: 1px solid var(--light-brown);
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: -1px;
    }

    .leg-details {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .details1 {
        width: 97%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }

    .details2 {
        display: none;
        width: 10%;
    }

    .vertical-div {
        display: none;
        height: 100%;
        opacity: 0.25;
        background-color: var(--dark-brown);
        border-color: var(--dark-brown);
    }

    .details3 {
        display: flex;
        justify-content: space-between;
        width: 97%;
        margin: 2vh auto 0 auto;
    }

    .leg-summary-cont,
    .leg-latest-action-cont,
    .leg-status-cont,
    .leg-branch-seal-cont,
    .leg-cosponsors-cont,
    .leg-impact-cont {
        display: flex;
        flex-direction: column;
        gap: 0.5vh;
    }

    .leg-summary-label,
    .leg-latest-action-label,
    .leg-status-label,
    .leg-cosponsors-label,
    .leg-impact-label {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
        text-align: center;
        margin-bottom: 0.5vh;
        font-weight: bold;
        text-shadow: 0rem 0.01rem 0rem rgba(0, 0, 0, 0.2);
        margin-bottom: 0.5rem;
        font-size: 3.2vw;
    }


    .leg-summary-text,
    .leg-latest-action-text {
        font-size: 2.8vw;
        white-space: normal;
        overflow: visible;
        background-color: var(--gray);
        text-overflow: clip;
        padding: 1vh;
        margin-bottom: 2vh;
        box-shadow: 0 0.2rem 1rem 0rem rgba(0, 0, 0, 0.2);

    }

    .leg-full-text {
        font-size: 2.6vw;
    }

    .leg-full-text:visited {
        color: blue
    }

    .leg-status-cont {
        display: flex;
        justify-content: space-between;
    }

    .leg-status-text {
        display: flex;
        width: 100%;
    }

    .leg-status-text-value {
        padding: 0.5rem;
        border: 1px solid #000;
        flex-grow: 1;
        text-align: center;
        background-color: var(--gray);
        font-size: 2.6vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 20%;
    }

    .leg-status-text-value.active {
        background-color: var(--dark-brown);
        color: var(--white);
        font-weight: bold;
    }

    .leg-cosponsors-text {
        display: flex;
        margin: 0 auto 2vh auto;
        width: 85%;
        min-width: 25rem;
        max-width: 32rem;

    }

    .leg-cosponsors-value {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.8vw;
        border: 1px solid var(--light-brown);
        border-radius: 1rem 1rem 0 0;
        padding-top: 0.3vh;
        gap: 0.3vh;
        width: 100%;
        color: var(--white);
        font-weight: bold;
        text-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
    }

    #leg-cosponsors-dems {
        background-color: var(--dems);
    }

    #leg-cosponsors-reps {
        background-color: var(--reps);
    }

    #leg-cosponsors-inds {
        background-color: var(--inds);
        color: var(--white)
    }

    .leg-cosponsors-value-number {
        background-color: var(--gray);
        color: var(--black);
        padding: 1vh;
        font-size: 3.2vw;
        margin-bottom: 1.5vh;
    }

    .leg-branch-seal-cont {
        justify-items: center;
        margin: 0 auto;
    }

    .leg-branch-seal-img {
        position: absolute;
        transform: translate(-50%, -60%);
        z-index: -1;
        opacity: 0.3;
        height: 45vh;
        width: 45vh;
        margin: 0 auto;
    }

    .leg-impact-text {
        display: flex;
        width: 100%;
    }

    .leg-impact-text-value {
        padding: 0.5rem;
        border: 1px solid #000;
        flex-grow: 1;
        text-align: center;
        background-color: var(--gray);
        font-size: 2.6vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 20%;
    }

    .leg-impact-text-value.active {
        background-color: var(--dark-brown);
        color: var(--white);
        font-weight: bold;
    }

}