* {
    /border: 2px solid;
    /font-family: var(--text-header) !important;
    
}

#politician-table,
#politician-table th,
#politician-table td {
    
}

#state-main-contain {
    /* height: calc(100% - 5rem);
    overflow: hidden; */
    
}

#politician-table-contain {
    height: calc(100vh - 20rem);
    max-height: calc(100vh - 20rem);
    width: 85%;
    margin-left: 5%;
    margin-right: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* For smooth scrolling on iOS devices */

    border-radius: 0.5rem;
    border: 0.2rem dotted var(--light-brown);
    
}

#state-info {
    padding-top: 10rem;
    padding-left: 5rem;
}


.tablesorter th {
    cursor: pointer;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    background-color: var(--light-brown);
    z-index: 10;
}

thead {
    height: 3rem;


}


tbody {
    font-size: 1.4rem;
    font-family: ;
    max-height: ;
}

#state-info {
    display: flex;
    flex-direction: column;
    max-width: 120rem;
    align-items: center;
}

#state-header {
    display: flex;
    width: 90%;
    flex-direction: row;
    margin-bottom: 1%;
    margin-top: 2%;
    margin-right: 3%;
    align-items: center;
    justify-content: space-between;
}

#state-name {
    margin-top: auto;
    margin-left: 3%;
    margin-right: 20%;
    width: 30%;
    letter-spacing: 0.1rem;
}

#state-sentiment-contain {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-right: 3%;
    letter-spacing: 0.1rem;
}

#state-sentiment-label {

}

#state-sentiment {
    background-color: var(--slightly-pro);
    font-family: var(--text-header);
    height: 3rem;
    width: 40%;
    /*margin: -4% auto 2% auto; */
    margin-top: 2.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    font-size: 250%;
    font-style: bold;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    border: 0.1rem solid var(--light-brown);
    border-radius: 1rem;
}

#politician-table {
    width: 100%;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    text-align: left;
    line-height: 2rem;
    border-radius: 0.5rem;
    overflow: auto;
    max-height: calc(100% - 6rem);
    /* adjust the max-height value as needed */

}

.tablesorter {
    border-collapse: collapse;
    width: 100%;

}


.tablesorter td,
.tablesorter th,
.cfr-inner {
    border: 0.1rem solid var(--dark-brown);
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    font-family: var(--text-header);
}

.tablesorter-header .header-arrow {
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.tablesorter-header .header-arrow-up {
    color: var(--dark-brown);

    margin-top: -0.6rem;
    margin-right: 0.5rem;
}

.tablesorter-headerAsc .header-arrow-up {
    color: var(--white);
}

.tablesorter-header .header-arrow-down {
    color: var(--dark-brown);
    margin-top: 0.6rem;
    margin-right: 0.5rem;
}

.tablesorter-headerDesc .header-arrow-down {
    color: var(--white);
}

.tablesorter tr:nth-child(odd) {
    background-color: var(--white);
}

.tablesorter tr:nth-child(even) {
    background-color: var(--gray);
}

#party,
.party {
    width: 7%;
    text-align: center;
}

.party-icon {
    width: 30%;
    height: 1.5rem;
    border-radius: 0.3rem;
    margin-left: 35%;

}

.party-Rep {
    background-color: var(--reps);
}

.party-Dem {
    background-color: var(--dems);
}

.party-Ind {
    background-color: yellow;
}

.party-Grn {
    background-color: green;
}

#pol-name {
    width: 20%;
}

.name-link {
    cursor: pointer;
    font-weight: bold;
}

#district,
.district {
    width: 7%;
    text-align: center;
}


#office,
.office {
    width: 9%;
    text-align: center;
}

#cfr,
#district {
    text-align: center;
}

.cfr {
    text-align: center;
    width: 20%;
    max-height: 80%;
    padding: 0.5% 0% 0.5% 0%;
}

.cfr-inner {
    display: inline-block;
    width: 70%;
    border-radius: 1rem;
    color: white;
}

[data-cfr='Strongly Pro'] .cfr-inner {
    background-color: var(--strongly-pro);
}

[data-cfr='Slightly Pro'] .cfr-inner {
    background-color: var(--slightly-pro);
}

[data-cfr='Neutral'] .cfr-inner {
    background-color: var(--neutral);
}

[data-cfr='Slightly Anti'] .cfr-inner {
    background-color: var(--slightly-anti);
}

[data-cfr='Strongly Anti'] .cfr-inner {
    background-color: var(--strongly-anti);
}

[data-cfr='Not enough data'] .cfr-inner {
    background-color: var(--not-enough-data);
}

.table-profile-img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.5rem;
}

.name-link {}

.table-img-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}